.lefty{
    margin-left: 0px;
  position: relative;  
  left: -100px;
  background-color: greenyellow;
  width: 200px;
  color: brown;
  text-align: center;
  
}
.righty{
 position: relative;
right: -440px;
background-color: orange;
width: 200px;
text-align: center;
}
